@import "./../styles/button";
@import "./../styles/border";
@import "./../styles/text";

html {
  background-color: map-get($map: $colors, $key: background-color);
}

* {
  color: black;
  margin : 0;
  padding : 0;
}