@each $size, $value in $spacing {
  .spacing-#{$size} {
    padding: $value;
    margin: $value;
  }

  .margin-#{$size} {
    margin: $value;
  }

  .padding-#{$size} {
    padding: $value;
  }

  .spacing-childs-#{$size} * {
    padding: $value;
    margin: $value;
  }

  @each $direction in top, right, bottom, left {
    .spacing-#{$direction}-#{$size} {
      padding-#{$direction}: $value;
      margin-#{$direction}: $value;
    }

    .margin-#{$direction}-#{$size} {
      margin-#{$direction}: $value;
    }

    .padding-#{$direction}-#{$size} {
      padding-#{$direction}: $value;
    }
  }

  /* Sizes

  */
  .text-#{$size} {
    font-size: $value;
  }

  button.size-#{$size} {
    padding: $value;
    line-height: $value;
  }
}
